<div class='border border-solid border-gray-100 p-2'>
  <div class='flex flex-col divide-y divide-solid divide-gray-100'>
    <div class='p-2 text-2xl'>Profile Details</div>
    <div class='p-2 flex divide-x divide-solid divide-gray-100'>
      <nav class='p-2 block w-full md:w-1/5'>
        <ul class='grid p-2'>
          <li class='gap-2 flex items-center w-full p text-lg font-semibold'><%= heroicon('user', class_name: 'h-4') %> Account Details</li>
          <li class='gap-2 flex items-center w-full p text-lg font-semibold'><%= heroicon('lock-closed', class_name: 'h-4') %> Security</li>
        </ul>
      </nav>
      <div class='p-2'>
        <%= form_with(url: profile_path, model: current_user) do |form| %>
          <div class='my-2'>
            <%= styled_form_field_for(form, :email, { disabled: true, name: :email }) %>
          </div>
          <div class='my-2'>
            <%= styled_form_field_for(form, :username) %>
          </div>
          <div class='my-2'>
            <%= styled_submit_button_for(form) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
