<% model = [ requirement.persisted? ? nil : requirement.project, requirement].compact %>

<%= form_with(model: model, class: "contents") do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
        <% requirement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.file_field :documents, multiple: true %>
  </div>

  <div class="inline">
    <%= form.submit 'Add supporting document', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
