<div id="<%= dom_id requirement %>">
  <div class='flex justify-start items-center gap-4'>
    <div class="my-5 font-semibold text-xl">
      <%= requirement.description%>
    </div>
    <% if action_name != "show" && ProjectPolicy.new(current_user, @project).manage? %>
      <%= link_to edit_requirement_path(requirement), class: "text-sm underline font-medium flex items-center" do %>
        <%= heroicon('pencil', class_name: 'h-4') %> Edit
      <% end %>
    <% end %>
  </div>
  <div class="my-5 bg-gray-100 rounded-xl p-4">
    <%= requirement.story %>
  </div>
  <div class='flex flex-wrap gap-4'>
    <% requirement.documents.each do |doc| %>
      <div class='aspect-square w-1/5 border-2 border-solid border-gray-300 rounded-xl flex flex-col items-center justify-center p-2 text-center'>
        <%= heroicon('document-download', class_name: 'h-12') %>
        <div class='truncate w-full text-sm'>
          <%= doc.filename %>
        </div>
        <div class='truncate w-full text-sm'>
          <%= doc.content_type%>
        </div>
      </div>
    <% end %>
  </div>

</div>
