<div class="mx-auto md:w-2/3 w-full flex flex-col">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
  </div>
  <div class="mx-auto w-full">
    <div class="mx-auto w-full text-sm flex items-center gap-2 text-gray-500">
      <%= heroicon('arrow-circle-left', class_name: 'h-4') %>
      <%= link_to 'Back to projects', projects_path, class: "" %>
    </div>
    <%= render @project %>
  </div>
  <hr class='my-4'/>
  <div class='flex'>
    <div class='w-1/4 flex flex-col'>
      <ul>
        <li class='text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
          <%= heroicon('information-circle', class_name: 'h-4') %>
          <%= link_to "Details", @project %>
        </li>
        <li class='text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
          <%= heroicon('clipboard-check', class_name: 'h-4') %>
          <%= link_to "Requirements", [@project, :requirements] %>
        </li>
        <li class='text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
          <%= heroicon('collection', class_name: 'h-4') %> Submissions
        </li>
      </ul>
      <% if ProjectPolicy.new(current_user, @project).edit? %>
        <ul>
          <li class='text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
            <%= heroicon('pencil', class_name: 'h-4') %>
            <%= link_to "Edit Project", [:edit, @project] %>
          </li>
          <li class='text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
            <%= heroicon('hashtag', class_name: 'h-4') %>
            <%= link_to "Tags", [:edit, @project] %>
          </li>
        </ul>
      <% end %>
      <% if ProjectPolicy.new(current_user, @project).destroy? %>
        <ul>
          <li class='text-red-500 text-lg hover:text-gray-500 hover:underline gap-2 flex items-center'>
            <%= heroicon('trash', class_name: 'h-4') %>
            <%= button_to "Delete Project", @project, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }} %>
          </li>
        </ul>
      <% end %>
    </div>
    <div class='w-3/4'>
      <%= yield %>
    </div>
  </div>
</div>
